global
    maxconn 20000                    # giới hạn kết nối đến Proxy
    daemon
   # log dev/log/local0
    log stdout format raw local0 debug

defaults
    timeout connect 10s
    timeout client 30s
    timeout server 30s

    log global
    mode tcp                           # mode tcp
    option tcplog                      # option tcplog

    maxconn 20000


frontend http_frontend
    bind *:80  # Thay bằng *:443 nếu dùng HTTPS
    mode http
    log global
    # ACL để kiểm tra domain
    acl is_s3_vhost_domain hdr(Host) -m reg ^([^.]+)\.localhost$

    http-request set-var(req.bucket) req.hdr(Host),field(1,.) if is_s3_vhost_domain
    http-request set-var(req.path) path if is_s3_vhost_domain
    http-request set-header X-Path %[var(req.path)] if is_s3_vhost_domain

    http-request set-path /%[var(req.bucket)]%[path] if is_s3_vhost_domain
    http-request set-header Host %[req.hdr(Host)] if is_s3_vhost_domain
    default_backend s3_backend

backend s3_backend
    mode http
    balance roundrobin
    retries 3
    #timeout connect 60s
    #timeout server 60s
    # http-request set-header Host %[req.hdr(Host)]
    server server1 go-api:8333 check
